[Unit]
Description=Ollama LLM Server
After=network-online.target

[Container]
Image=docker.io/ollama/ollama:0.20.5
ContainerName=ollama
PublishPort=11434:11434

Volume=/opt/services/ollama/config:/root/.ollama:Z

AddDevice=nvidia.com/gpu=all

[Service]
Restart=always

[Install]
WantedBy=default.target
