[Unit]
Description=Loki
After=network-online.target

[Container]
Image=docker.io/grafana/loki:3.7.2
ContainerName=loki
Network=host

UserNS=keep-id:uid=10001,gid=10001

Volume=/etc/monitoring/loki/loki.yml:/etc/loki/loki.yml:ro
Volume=/etc/monitoring/loki/rules:/etc/loki/rules:ro
Volume=/opt/services/monitoring/loki/data:/var/loki:Z

Exec=-config.file=/etc/loki/loki.yml

[Service]
Restart=always

[Install]
WantedBy=default.target
