[Unit]
Description=ntfy Notifications
After=network-online.target

[Container]
Image=docker.io/binwiederhier/ntfy:v2.28.0
ContainerName=ntfy
PublishPort=8019:80

Exec=serve

Volume=/etc/monitoring/ntfy/server.yml:/etc/ntfy/server.yml:ro
Volume=/etc/monitoring/ntfy/templates:/etc/ntfy/templates:ro
Volume=/opt/services/ntfy/cache:/var/cache/ntfy:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
