[Unit]
Description=Jellyfin Media Server
After=network-online.target

[Container]
Image=docker.io/jellyfin/jellyfin:latest
ContainerName=jellyfin
AutoUpdate=registry
PublishPort=8096:8096
PublishPort=7359:7359/udp

Volume=/opt/services/jellyfin/config:/config:Z
Volume=/opt/services/jellyfin/cache:/cache:Z
Mount=type=tmpfs,destination=/cache/transcodes,tmpfs-size=4G

Volume=/opt/data/media:/data/media/jellyfin:ro

AddDevice=nvidia.com/gpu=all

[Service]
Restart=always
User=arr
Group=arr

[Install]
WantedBy=multi-user.target
