[Unit]
Description=Esphome
After=network-online.target

[Container]
Image=ghcr.io/esphome/esphome:2026.8.2
ContainerName=esphome

Network=host

Volume=/opt/services/esphome/config:/config:Z
Volume=/etc/localtime:/etc/localtime:ro

Environment=TZ=Europe/Berlin

[Service]
Restart=always

[Install]
WantedBy=default.target
