[Unit]
Description=Esphome
After=network-online.target

[Container]
Image=ghcr.io/esphome/esphome:latest
ContainerName=esphome
AutoUpdate=registry

Network=host

Volume=/opt/services/esphome/config:/config:Z
Volume=/etc/localtime:/etc/localtime:ro

Environment=TZ=Europe/Berlin

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
