[Unit]
Description=Home Assistant Automation
After=network-online.target

[Container]
Image=ghcr.io/home-assistant/home-assistant:stable
ContainerName=home-assistant
AutoUpdate=registry
PublishPort=127.0.0.1:8123:8123

Environment=TZ=Europe/Berlin

Volume=/opt/services/home-assistant/config:/config:Z
Volume=/etc/localtime:/etc/localtime:ro

; AddDevice=/dev/serial/by-id/device_name:/dev/ttyACM0


[Service]
Restart=always
User=hass
Group=hass

[Install]
WantedBy=multi-user.target
