[Unit]
Description=Home Assistant Automation
After=network-online.target

[Container]
Image=ghcr.io/home-assistant/home-assistant:2026.9.1
ContainerName=home-assistant
Network=host

Environment=TZ=Europe/Berlin

Volume=/opt/services/home-assistant/config:/config:Z
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=always

[Install]
WantedBy=default.target
