[Unit]
Description=Home Assistant Automation
After=network-online.target

[Container]
Image=ghcr.io/home-assistant/home-assistant:stable
ContainerName=home-assistant
AutoUpdate=registry
Network=host

Environment=TZ=Europe/Berlin

Volume=/opt/services/home-assistant/config:/config:Z
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=always
User=hass
Group=hass

[Install]
WantedBy=multi-user.target
