[Unit]
Description=Python Matter Server
After=network-online.target otbr.service
Requires=otbr.service

[Container]
Image=ghcr.io/matter-js/python-matter-server:stable
; Image=ghcr.io/home-assistant-libs/python-matter-server:
ContainerName=matter
AutoUpdate=registry
Network=host

Environment=TZ=Europe/Berlin

Volume=/var/run/dbus:/var/run/dbus:ro
Volume=/opt/services/matter/config:/data:Z
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=always
; User=matter
; Group=matter

[Install]
WantedBy=multi-user.target
