[Unit]
Description=Mosquitto
After=network-online.target

[Container]
Image=docker.io/eclipse-mosquitto:latest
ContainerName=mosquitto
AutoUpdate=registry
PublishPort=1883:1883

Environment=TZ=Europe/Berlin

Volume=/opt/services/mosquitto/config:/mosquitto/config:Z
Volume=/opt/services/mosquitto/data:/mosquitto/data:Z
Volume=/opt/services/mosquitto/log:/mosquitto/log:Z
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=always
User=mosquitto
Group=mosquitto

[Install]
WantedBy=multi-user.target
