[Unit]
Description=Wyoming Piper
After=network-online.target

[Container]
Image=docker.io/rhasspy/wyoming-piper:latest
ContainerName=wyoming-piper
AutoUpdate=registry
PublishPort=127.0.0.1:10200:10200

Environment=TZ=Europe/Berlin

Volume=/opt/services/wyoming-piper/config:/data:Z
Volume=/etc/localtime:/etc/localtime:ro

AddDevice=nvidia.com/gpu=all

Exec=--voice de_DE-thorsten-medium --data-dir /data

[Service]
Restart=always
User=wyoming-piper
Group=wyoming-piper

[Install]
WantedBy=multi-user.target
