[Unit]
Description=Wyoming Whisper
After=network-online.target

[Container]
Image=docker.io/rhasspy/wyoming-whisper:latest
ContainerName=wyoming-whisper
AutoUpdate=registry
PublishPort=127.0.0.1:10300:10300

Environment=TZ=Europe/Berlin

Volume=/opt/services/wyoming-whisper/config:/data:Z
Volume=/etc/localtime:/etc/localtime:ro

AddDevice=nvidia.com/gpu=all

Exec=--model small --language de --device cuda --data-dir /data

[Service]
Restart=always
User=wyoming-whisper
Group=wyoming-whisper

[Install]
WantedBy=multi-user.target
