[Unit]
Description=Paperless-ngx
After=network-online.target paperless-broker.service
Requires=paperless-broker.service

[Container]
Image=ghcr.io/paperless-ngx/paperless-ngx:latest
ContainerName=paperless
AutoUpdate=registry
Network=host

Environment=PAPERLESS_REDIS=redis://127.0.0.1:63791
Environment=PAPERLESS_URL=https://paperless.ts.pinkorca.de
Environment=PAPERLESS_TIME_ZONE=Europe/Berlin
Environment=PAPERLESS_OCR_LANGUAGE=deu+eng
Environment=PAPERLESS_ENABLE_HTTP_REMOTE_USER_API=true
Environment=PAPERLESS_MEDIA_ROOT=/usr/src/paperless/data/media
Environment=PAPERLESS_CONSUMPTION_DIR=/usr/src/paperless/data/consume
Environment=PAPERLESS_CONSUMER_IGNORE_PATTERNS=[\".DS_STORE/*\",\"desktop.ini\"]
Environment=PAPERLESS_OCR_USER_ARGS={\"optimize\":1,\"pdfa_image_compression\":\"lossless\"}
Environment=USERMAP_UID=315
Environment=USERMAP_GID=315

Volume=/opt/services/paperless/config:/usr/src/paperless/data:Z

[Service]
Restart=always
User=paperless
Group=paperless

[Install]
WantedBy=multi-user.target